
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap");

.header {
  display: flex;
    margin: 0 auto;
  /* position: fixed;    блок не будет прокручиваться, а останется жёстко на месте*/
  justify-content: space-between;
  background: #f05454;
}

.header__logo {
  display: flex;
  align-items: center;
  padding-left: 25px;
}

.header__menu {
  display: flex;
  align-items: center;
   justify-content: end;
  flex-grow: 1;

}

.items ul {
  width: 450px;
  display: flex;
  justify-content: space-around;
  list-style: none; /* убирает точки списка ul */
}
a:hover {
  background: rgb(48, 7, 7);
  border-radius: 3px;
}

.items ul a {
  text-decoration: none; /* убирает подчёркивание текста ссылки a */
  color: #f9f9f9;
  font-family: sen;
}

.header__shoppingCart {
  background-color: #222222;
  margin: 20px 20px;
  padding: 6px 12px;
  border-radius: 5px;
  position: relative; /*  чтобы потом можно было сделать adsolute у дочернего*/
}

.img {
  width: 20px;
  display: block;
}

.amount {
  width: 18px;
  height: 19px;
  line-height: 20px;
  border-radius: 50%;
  background: white;
  position: absolute; /* поверх родительского элемента размещаем где надо */
  top: -8px;
  right: -8px;
  text-align: center;
  font-size: 12px;
  font-family: sen;
  font-weight: 700; /* жирность шрифта */
}

.hidden-block {
  width: 100px;
  border-radius: 5%;
  border: 3px solid rgb(52, 15, 214);
  background: rgb(238, 241, 44);
  position: absolute;   
  top: 32px;
  right: 15px;
  opacity: 0;
  line-height: 2;    
  /* display: none;       - если этот способ, то не срабатывает transition  */ 
  pointer-events: none;    
}

.header__shoppingCart:hover .hidden-block {
  opacity: 1;
  display: block; 
  width: 300px;
  transition: width 1s, opacity 1.5s; 
   }

 .block-2 {
  background: #222222;
  border: 2px dashed;
  color: white;
  text-align: center;
  line-height: 100px;
  margin-top: 10px;
}

